<section class="container">

  <section class="texto_baixar">
    <div class="texto_">
      <h1>We Are Here To Help Provide Convenience To The Public Transacting</h1>
      <p>Rutrum quis vestibulum, tellus in sapien mi adipiscing. Purus at maecenas condimentum gravida fusce dictum
        nulla volutpat posuere. Ac eu dui interdum id commodo condimentum risus.</p>
    </div>

    <div class="baixar_">
      <button>GOOGLE</button>
      <button>APPLE</button>
    </div>
  </section>

  <div class="img_">
    <img src="/assets/cell.png" alt="">
  </div>

</section>