footer {
  height: 100%;
  width: 100%;

}

.box {
  width: 25%;
  margin-top: 40px;
  margin-bottom: 40px;

  h3 {
    font-weight: 600;
    margin-bottom: 29px;
    font-size: 22px;
  }

  .menu-box {
    ul li {
      margin-bottom: 22px;
    }
  }
}

.footer-sobre p {
  max-width: 300px;
  min-width: 200px;

}

.footer-media {
  justify-content: center;
  align-items: center;
  padding: 20PX;

  border-bottom: solid 1px;

  img {
    width: 42px;
    padding: 0px 5px;
    color: #fff;
  }

  .footer-logo {
    font-size: 34px;
    font-weight: 600;
   
  }

  .footer-media{
    padding-bottom: 50px;
  }

}

.copyright {
  padding: 25px 0;
  justify-content: center;
  border-top: solid 1px #fff;
}