<footer>

  <div class="display-flex footer-media">
    <a href="" class="footer-logo">Linguify | </a>
    <a href=""><img src="/assets/instagram.png" alt=""></a>
    <a href=""><img src="/assets/facebook.png" alt=""></a>
    <a href=""><img src="/assets/linkedin.png" alt=""></a>
    <a href=""> <img src="/assets/youtube.png" alt=""></a>
  </div>

  <section class="container display-flex">

    <div class="footer-sobre">
      <h2>Linguify</h2>
      <p>
        If your business hosts events or exhibitions, creative services can assist with event planning, booth design.
      </p>
    </div>

    <div>
      <h2>Sobre</h2>
      <ul>
        <li><a href="">Contact Us</a></li>
        <li><a href="">About US</a></li>
        <li><a href="">Digital Product</a></li>
        <li><a href="">Top Project Overview</a></li>
      </ul>
    </div>

    <div>
      <h2>Serviços</h2>
      <ul>
        <li><a href="">Marketing Strategy</a></li>
        <li><a href="">Marketing Analysis</a></li>
        <li><a href="">Web Development</a></li>
        <li><a href="">Web Development</a></li>
      </ul>
    </div>

    <div>
      <h2>Contato</h2>
      <ul>
        <li>
          <p>kulan.infogmail.com</p>
        </li>
        <li>
          <p>+48 93939 0239</p>
        </li>
        <li>
          <p>Mon - Fri 10:00 - 18:00</p>
        </li>
        <li>
          <p>Jilons, TP06/90 NY, USA</p>
        </li>
      </ul>
    </div>

  </section>
</footer>