<footer>

  <section class="display-flex footer-media">
    <a href="" class="footer-logo">Linguify | </a>
    <a href=""><img src="/assets/instagram.png" alt=""></a>
    <a href=""><img src="/assets/facebook.svg" alt=""></a>
    <a href=""><img src="/assets/linkedin.png" alt=""></a>
    <a href=""> <img src="/assets/youtube.png" alt=""></a>
  </section>

  <section class=" display-flex">

    <div class="box footer-sobre">
      <div>
        <h3>Linguify</h3>
        <div class="menu-box">
          <p>
            Experiência inovadora de aprendizado de idiomas, voltada para sua profissão.
          </p>
        </div>
      </div>
    </div>

    <div class="box">
      <div>
        <h3>Sobre Nós</h3>
        <div class="menu-box">
          <ul>
            <li><a href="">Cursos</a></li>
            <li><a href="">Missão</a></li>
            <li><a href="">Método</a></li>
            <li><a href="">Entre em contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="box">
      <div>
        <h3>Aplicativos</h3>
        <div class="menu-box">
          <ul>
            <li><a href="">Linguify para Android</a></li>
            <li><a href="">Linguify para IOS</a></li>
            <li><a href="">Dúvidas: Linguify</a></li>
            <li><a href="">Perguntas frequentes</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="box">
      <div>
        <h3>Ajuda e suporte</h3>
        <div class="menu-box">
          <ul>
            <li>
              <p>Termos de uso</p>
            </li>
            <li>
              <p>Privacidade</p>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </section>

  <section class="copyright display-flex">
    <p> Copyright © 2024 Linguify Brasil</p>
  </section>

</footer>